@import url('reset.css');
@import url('../css/fonts/stylesheet.css');

* {
	font-family: quicksandlight;
}

body
{	
	font-family: quicksandlight;
	background: #2AA876;
}

b {	font-family: quicksandbold;  }
i { font-family: quicksandlight_italic; }

#head 
{
	margin: 0 auto;
	width: 1200px;
	height: 125px;
}

#logo 
{
	margin-top: 75px;
	width: 400px;
	height: 50px;
	float: left;
	color: white;
	font-size: 50px;
}

#menu 
{
	margin-top: 100px;
	margin-left: 450px;
	float: left;
	color: white;
}

#menu a
{
	text-decoration: none;
	color: white;
}

#menu a:hover
{
	font-weight: bold;
}

#main_div 
{
	margin: 0 auto;
	width: 1300px;
	height: 700px;
	background: white;
	border: 2px solid #999999;
}

#cars, #registration, #car_summary
{
	border: 2px solid #dddddd;
	width: 650px;
	height: 550px;
	float: left;
	margin-top: 75px;
	margin-left: 75px;
	overflow-y: auto;
}

#cars_list
{

}

.car 
{
	margin: 20px auto;
	border: 1px solid #999999;
	width: 600px;
	height: 85px;
	padding: 10px;
}

.car_img
{
	height: 75px;
	height: 75px;
	float: left;
}

.car_name, .car_params
{
	margin-left: 175px;
}

.car_name
{
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
}

.car_params
{
	margin-top: 15px;
}

#details, #car_details
{
	border: 2px solid #dddddd;
	width: 400px;
	height: 400px;
	float: left;
	margin-top: 75px;
	margin-left: 75px;
}

#details, #roa{
	text-align: center;
}

#details h1, #roa h1 {
	font-size: 30px;
	font-weight: bold;
}

#details p , #roa p{
	font-size: 20px;
}

input[type=button], input[type=submit]
{
	margin-top: 120px;
	margin-left: 370px;
	background: #2AA876;
	color: white;
	padding: 20px;
	border: none;
	cursor: pointer;
	font-size: 20px;
	font-family: quicksandregular;
}

input[type=button]:hover, input[type=submit]:hover
{
	background: #2AB876
}

#foot
{

}

a {
	text-decoration: none;
	color: #333333;
}


#login_div
{
	width: 500px;
	height: 250px;
	margin: 0 auto;
	margin-top: 200px;
}

#login_input, #pass_input
{
	width: 300px;
	height: 40px;
	margin-top: 10px;
	margin-left: 100px;
	text-align: center;
	font-size: 20px;
	outline: none;
	border: 1px solid #2AA876;
	color: #2AA876;
}

#login_input
{
	margin-top: 70px;
}

#pass_input
{

}

#login
{
	margin-top: 200px;
	margin-left: 675px;

}

#registration #fields
{
	height: 300px;
	width: 500px;
	margin: 0 auto;
	margin-top: 115px;
}

#registration input
{
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
	font-size: 20px;
	outline: none;
	border: 1px solid #999999;
}

.radio
{
	width: 100px;
	height: 20px;
}

.short
{
	width: 225px;

}

.long
{
	width: 475px;
}

#roa
{
	margin: 10px auto;
	width: 350px;
	height: 350px;	
	overflow-y: auto;
}

#accept_roa
{
	margin-left: 250px;
}

#main_title
{
	margin-top: 50px;
	font-size: 75px;
	text-align: center;
	color: #333333;
}

#cars_top
{
	border: 2px solid #dddddd;
	width: 650px;
	height: 250px;

	margin: 0 auto;
	margin-top: 75px;
	overflow-y: auto;
}

#car_summary
{
		text-align: center;
}

#days
{
	margin-top: 200px;
	margin-bottom: 200px;
	text-align: center;
	font-size: 20px;
	outline: none;
	border: 1px solid #999999;
}

#cost
{
	font-size: 40px;

}

li {
	cursor: pointer;
}

.selected {
	border: 3px solid #2AA876;
}