<div id="cars">
	<ul id="cars_list">
		<a href=''>
				<li class="car">
					<img class="car_img" src="/static/images/auto.jpg" />
					<p class="car_name">Skoda</p>
					<p class="car_params">1.6 TDI, czarne siedzenia, dres w komplecie</p>
				</li>
			</a>
				<a href=''>
				<li class="car">
					<img class="car_img" src="/static/images/auto.jpg" />
					<p class="car_name">Skoda</p>
					<p class="car_params">1.6 TDI, czarne siedzenia, dres w komplecie</p>
				</li>
			</a>
				<a href=''>
				<li class="car">
					<img class="car_img" src="/static/images/auto.jpg" />
					<p class="car_name">Skoda</p>
					<p class="car_params">1.6 TDI, czarne siedzenia, dres w komplecie</p>
				</li>
			</a>
				<a href=''>
				<li class="car">
					<img class="car_img" src="/static/images/auto.jpg" />
					<p class="car_name">Skoda</p>
					<p class="car_params">1.6 TDI, czarne siedzenia, dres w komplecie</p>
				</li>
			</a>
		</ul>
</div>
<div id="details">
	<p>Podstawowe parametry
		<p>dupa</p>
	</p>
	<p>Dodatkowe parametry
		<p>cycki</p>
	</p>
</div>
<input id="reserve" type="button" value="Zarezerwuj" onclick="location.href='../cars_reserve'">