<div id="cars">
	<ul id="cars_list">
			{% for o in car_entry %}
			<li class="car" data-marka="{{o.marka}}"  data-model="{{o.model}}"  data-klasa="{{o.klasa}}"  data-wypos="{{o.wypos}}"  data-silnik="{{o.silnik}}"  data-kolor="{{o.kolor}}"  data-licz_siedz="{{o.licz_siedz}}" data-cena="{{o.cena}}">
					<img class="car_img" src={{o.zdj_link}} />
					<p class="car_name">{{o.marka}} {{o.model}}</p>
					<p class="car_params">Silnik: {{o.silnik}}, Wyposazenie: {{o.wypos}}, Kolor: {{o.kolor}}</p>
				</li>
			{% endfor %}
		</ul>
</div>
<div id="details">
	<h1>Podstawowe parametry</h1>
	<p id="details_basic"></p>
	<h1>Dodatkowe parametry</h1>
	<p id="details_advanced"></p>

</div>
<input id="reserve" type="button" value="Zarezerwuj" onclick="location.href='../cars_reserve'">