<html>
<head>
	<title>Wypozyczalnia.pl</title>

	<!-- inside sources -->
	<link type="text/css" rel="stylesheet" href="../static/css/reset.css"> 
	<link type="text/css" rel="stylesheet" href="../static/css/style.css"> 
</head>

<body>	
	<header id="head">
		<div id="logo">
		<a href="../main" style="color: white"><p>Wypozyczalnia.pl</p></a>
		</div>
		<div id="menu">
			<a href="../login">Logowanie</a> |
			<a href="../register">Rejestracja</a> | 
			<a href="../view_cars">Przeglądanie</a>
		</div>
	</header>
	<section id='main_page'>
			<div id="main_div">
				{% include page %}
			</div>
	</section>
	<footer id="foot"></footer>
</body>
</html>
