<p id="main_title"> Witaj na stronie</br> wypozyczalni </br> <b>Wypozyczalnia.pl</b></p>

<div id="cars_top">
	<ul id="cars_list">
		<a href=''>
				<li class="car">
					<img class="car_img" src="/static/images/auto.jpg" />
					<p class="car_name">Skoda</p>
					<p class="car_params">1.6 TDI, czarne siedzenia, dres w komplecie</p>
				</li>
			</a>
				<a href=''>
				<li class="car">
					<img class="car_img" src="/static/images/auto.jpg" />
					<p class="car_name">Skoda</p>
					<p class="car_params">1.6 TDI, czarne siedzenia, dres w komplecie</p>
				</li>
			</a>
				<a href=''>
				<li class="car">
					<img class="car_img" src="/static/images/auto.jpg" />
					<p class="car_name">Skoda</p>
					<p class="car_params">1.6 TDI, czarne siedzenia, dres w komplecie</p>
				</li>
			</a>
				<a href=''>
				<li class="car">
					<img class="car_img" src="/static/images/auto.jpg" />
					<p class="car_name">Skoda</p>
					<p class="car_params">1.6 TDI, czarne siedzenia, dres w komplecie</p>
				</li>
			</a>
		</ul>
</div>
